body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
.outer_wrapper {
  min-height: 100vh;
  /* background-color: #a0a0a0; */
  display: block;
}

.top_head{
  text-transform: uppercase;
  padding: 10px;
  font-weight: bold;
  background-color: #999;
  position: absolute;
  width: 100%;
  height: 50px;
  top: 0;
  left: 0;
  color: #fff;
}
.top_head span{
  border: 2px solid #fff;
}
.App{
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}
.heading_chat{
  color: #2998ff;
  text-align: center;
  margin-top: 40px;
  padding-bottom: 10px;
  border-bottom: 1px solid #000;
}

.chatbox {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  /* flex-direction: column; */
}
.chats{
  max-height: 480px;
  overflow-y: scroll;
}
.chatList span:first-child{
  font-size: 1.2rem;
  font-weight: bold;
}
.chatList span:first-child::after{
  content: "-";
}
.chatList {
  font-size: 14px;
  padding: 10px;
  border-bottom: 1px solid #000;
  cursor: pointer;
}
.icon_wrapper {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #0f0;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in;
  box-shadow: 0 1rem 3rem rgba(0, 255, 0, 0.9);
  margin-left: 30px;
  transform: rotate(270deg) translateX(30px);
}
.icon_wrapper:hover {
  transform: rotate(270deg) translateX(30px) scale(1.1);
  color: #0f0;
  background-color: #fff;
}
.icon_wrapper svg {
  fill: currentColor;
}
.chatpopup {
  max-height: 100vh;
  width: 350px;
  height: 600px;
  box-sizing: border-box;
  padding: 20px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.4), 0 0 10px rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  position: relative;
}
.welcome_popup {
  /* margin-top: 50px; */
  display: flex;
  flex-direction: column;
  height: 550px;
  justify-content: space-between;
}

.container_btn{
  display: inline-block;
  width: 19.5%;
}
.all_calls{
  height: 90px;
  overflow-y: scroll;
  margin-top: 20px;
}
.person_img {
  width: 80%;
  display: block;
  text-align: center;
  border-radius: 5px;
  margin: 15px auto;
}

.button_wrapper {
  text-align: right;
}
.button_wrapper button {
  border: 2px solid blue;
  background-color: #fff;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
.button_wrapper button:hover {
  color: #fff;
  background-color: blue;
}
.minimize {
  width: 20px;
  height: 4px;
  background-color: #000;
  float: right;
  margin-top: -20px;
  cursor: pointer;
}

.button_msgs {
  width: 32%;
  padding: 5px 0;
  font-size: 14px;
  border: 2px solid var(--color);
  color: var(--color);
  margin-right: 5px;
  transition: all 0.2s;
  cursor: pointer;
}
.button_msgs:hover {
  background-color: var(--color) !important;
  color: #fff;
}
.buttons {
  display: flex;
  align-items: center;
}
.switch {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-width: 2px;
  cursor: pointer;
  background-color: #999;
  border-radius: 50%;
  margin-right: 5px;
  overflow: hidden;
}
.svg_con{
  text-align: center;
}
.messages {
  border: 1px solid #000;
  border-radius: 5px;
  padding: 5px;
  font-size: 14px;
  max-height: 300px;
  overflow-y: scroll;
}
.send_input {
  padding: 5px;
  display: inline-block;
  width: 85%;
}

.send_btn {
  background-color: #fff;
  border: none;
  transform: translateY(4px);
  cursor: pointer;
}
.popup_outer {
  width: 350px;
  height: 500px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(1px);
}
.popup_inner {
  width: 60%;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  font-size: 14px;
  border: 4px solid #999;
  box-shadow: 0 0 300px #fff;
}

.close_icon {
  position: absolute;
  top: 30%;
  left: 72%;
  font-size: 1.6rem;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #999;
  cursor: pointer;
}
